<nav>
    <div class="site-title">
        <a href="/">
            <h1>Library</h1>
        </a>
        </p>Library Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add book</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>